/* ############ TYPOGRAPHY ############ */
* {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #333;
}
p {
	font-size: 1.33em;
	line-height: 1.65em;
	letter-spacing: 0.008em;
}
nav a {
	font-size: 1.25em;
}
.info {
	font-size: 1.6em;
	font-weight: 400;
	text-align: center;
	line-height: 1.4em;
}
.huge {
	font-size: 2.7em;
	font-weight: 200;
	text-align: center;
	line-height: 1.2em;
}
.header {
	font-size: 3.125em;
	font-weight: 200;
	text-align: center;
	line-height: 1.2em;	
	clear: both;
}
.smallinfo {
	font-size: 1.3em;
	text-align: center;
	color: #666;
}
.excerpt {
	font-size: 1.6em;
	font-weight: 400;
	text-align: center;
	line-height: 1.5em;
	margin: 50px 0 70px 0;
	font-style: italic;
}
.imgcaption {
	font-size: 1.15em;
	font-style: italic;
	line-height: 1.5em;
	color: #666;
	margin-top: 13px;
}
.nocaptionimg {
	margin-top: 15px;
	margin-bottom: 15px;
}
.worktitle {
	font-size: 1.1em;
	font-weight: 400;
	color: white;
	margin-top: 10px;
	margin-bottom: -10px;
}
.workinfo {
	font-size: 0.57em;
	font-weight: 400;
	color: white;
	margin-top: -10px;
}
/* ############ LAYOUT ############ */
body {
	max-width: 800px;
	margin: 0 auto;
	background-color: #eee;
}
#wrap {
	max-width: 780px;
	margin: auto;
}
.clear {
	clear: both;
}
/* |||||||||||| TEXT PAGES |||||||||||| */
.frontpagework img {
	width: 180px;
	margin-right: 16px;
}
.frontpagework img:last-child {
	margin-right: 0px;
}
/* |||||||||||| TEXT PAGES |||||||||||| */
.info {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.6em;
	margin-bottom: 2.4em;
}
/* |||||||||||| HEADER |||||||||||| */
header {
	height: 110px;
}
nav a {
	margin-right: 12px;
	padding: 10px 16px;
	background-color: none;
}
nav a:hover {
	background-color: #e2e2e2;	
}
#topleft > * {
	float: left;
	margin-top: 37.5;
}
#topright {
	float: right;
	margin-top: 40px;
}
#topright > * {
	margin-left: 20px;
}
/* |||||||||||| BLOG |||||||||||| */
.blogpost {
	clear: both;	
	height: 180px;
	width: 100%;
}
.blogpost > * {
	float: left;
}
.blogposttext {
	width: 600px;
}
.blogpostimg {
	/*
	postition: absolute;
	top: 50%;
	margin-top: 60px;
	*/
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 20px;
}
.blogposttitle {
	font-size: 1.9em;
	font-weight: 200;
	margin: 6px 0 0;
}
.blogpostexcerpt {
	font-size: 0.75em;
	font-weight: 400;
	margin-top: -10px;
}
/* |||||||||||| WORK |||||||||||| */
.workitemrow {
	height: 240px;
	margin-bottom: 26px;
	width: 100%;
	/*background-color: red;*/
}
.workitem {
	display: inline-block;
	margin-right: 4.15%;/*26px*/
	padding-bottom: 26px;
	width: 30%
}
.workitem:last-child {
	margin-right: 0px;
}
.workimg {
	position: absolute;
}
.workoverlay {
	display: block;
	opacity: 0.3;
	position: absolute;
	width: 240px;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.6);
	
	transition: all 0.5s ease-out;
	/*transition-property : opacity;
	transition-duration : 0.5s;
	*/
	
	transform: translateY(240px);
}
.workitem:hover > div.workoverlay {
	display: inline;
	opacity: 1;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.6);
	
	transition: all 0.3s ease-out;
	/*transition-property : opacity; 
	transition-duration : 0.3s;
	*/ 

	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(118%);	
}
.overlaytext {
	margin-left: 20px;
}
.contact {
	background-color: white;
	border: none;
	font-style: italic;
	padding: 16px;
	margin-bottom: 20px;
	font-size: 1.1em;
	color: #666;s
}
.contact.subject {
	font-size: 1.4em;
	width: 100%;
	max-width: 100%;
}
.contact.message {
	width: 100%;
	max-width: 100%;
	height: 300px;
}
.contact:focus {
	color: #333;
	font-style: normal;
}
.contact.name {
	width: 29%;
	margin-right: 3.3%;
}
.contact.email {
	width: 29%;
	margin-right: 3.3%;
}
.submitbtn {
	font-size: 1.2em;
	background-color: #d2d2d2;
	border: none;
	width: 29%;
	margin-left: 3.3%;
	padding: 3%;
}
/* |||||||||||| FOOTER |||||||||||| */
footer {
	text-align: center;
	height: 160px;
}
#license {
	margin-top: 10px;
}
#licenseicons {
	margin-top: 40px;
	margin-bottom: 10px;
}
#licenseinfo {
	max-width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* ############ HACKS ############ */
#logo img {
	height: 35px;
	margin-top: -6px;
	margin-bottom: 37.5px;
	margin-right: 30px;
}
.social {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 50px;
}
.social * {
	margin-right: 20px; 
}
.social *:first-child {
	margin-right: none;
}
/*
@media screen and (max-width: 900px) {
	* {
		background-color: red;
	}
}
*/
